
<ion-header *ngIf="autenticado == false">
  <ion-navbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="autenticado == false">
  <ion-grid>
    <ion-row>
      <ion-col col-12><p class="font1" style="padding-top: 13%;">Login com E-mail</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4><p class="font1">E-mail:</p></ion-col>
      <ion-col col-8><input class="texto2" [(ngModel)]="email"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4><p class="font1">Senha:</p></ion-col>
      <ion-col col-8><input class="texto2" type="password" [(ngModel)]="senha"></ion-col>
    </ion-row> 
    
    <ion-row>
      <ion-col col-12 class="font1">
        <button ion-button color="primary" (click)="loginEmailPassword()"> Entrar</button>
        <button ion-button color="danger" (click)="btCadastrar()"> Cadastrar</button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
  
</ion-content>
