.fontModal{
    text-align: center; 
    font-size: 18px;
}

.alignModal{
    align-items: center;
    text-align: center;
}

.btModal{
    width: 75%;
    font-size: 17px;    
}

ion-app.md [padding] .scroll-content {
    padding: 3%;
}
