
<ion-header *ngIf="usuario != null">
  <ion-navbar>
    <ion-title style="text-align:center">Listas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="usuario != null"> 
  <ion-list inset>    
    <ion-item  *ngFor="let i of lista | async">      
      <p style="font-size: 17px" (click)="goList(i.id)">{{i.nome_lista}} </p>     
        
     <!-- <ion-icon class="iconArrow" name="ios-arrow-dropright" (click)="goList(i.id)"></ion-icon>-->
      <ion-icon class="icoLixo" name="trash" (click)="del(i.id)"> </ion-icon> 
             
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab collor="primary" (click)="goAddLista()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


