.iconArrow {
    display: inline-block;
    font-size: 1.8em;
    float: right;
    margin-top: -9%;
}

.icoLixo{
    font-size: 1.9em;
    float: right;
    margin-top: -9%;
    color: red;
}

.icoEdit{
    font-size: 1.9em;
    float: right;
    margin-top: -9%;
    color: #28a745;
}

.list{
    margin: 0%;
    margin: 2% 0% 2% 0%;
}

ion-label.label.label-md {
    margin: 2% 0% 2% 0%;
}

.my-modal {
    .modal-wrapper {
    position: absolute;
    top: 30% !important;
    left: 5% !important;
    right: 5% !important;
    display: block;
    width: 90% !important;
    height: 30% !important;
    border-radius: 2px;
    box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);        
    }
    ion-backdrop {
        visibility: visible;
    } 
}

.alignCenter{
    text-align: center;
    color: #797979;
    font-weight: 500;
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
    font-size: 16px;
    padding: 3%;
}
    