
<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center;">Listas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="alignCenter" *ngIf="listEmpty == true "> 
      <p>Voce não tem nenhuma lista no momento</p> 
      <p>Aperte no botão + para adicionar</p>
  </div>

  <ion-list class="list">    
    <ion-item ion-item *ngFor="let i of lista | async">      
      <p style="font-size: 17px; margin-top: 3%; width: 72%;" (click)="goList(i.id)">{{i.nome_lista}} </p>      
      <ion-icon class="icoLixo" name="trash" (click)="openModal(i)" style="margin-left: 6%;"></ion-icon>
      <ion-icon class="fa fa-pencil-square-o icoEdit" (click)="btEditList(i.id)" ></ion-icon>            
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
      <button ion-fab collor="primary" (click)="goAddLista()">
        <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>
 
</ion-content>


