<ion-header>
  <ion-navbar>
    <ion-title class="fontStandard" style="text-align:center; margin-right: 16%;" *ngIf="editList == true">Editar Lista</ion-title>
    <ion-title class="fontStandard" style="text-align:center; margin-right: 14%;" *ngIf="editList == false">Adicionar Lista</ion-title>    
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="editList == true">
    <ion-grid>
      <ion-row>
        <ion-col col-4><p class="fontStandard">Nome Lista:</p></ion-col>        
        <ion-col col-8><input class="textoInput" style="margin-top:4%;" type="text" [(ngModel)]="nameList"></ion-col>
      </ion-row> <br/>

      <ion-row>
        <ion-col col-8 style="text-align: center;" class="fontStandard"> <input class="textoInput" type="email" [(ngModel)]="email"
              (keyup.enter)="btAddUserEdit()" placeholder="Digite e-mail da pessoa" > 
        </ion-col>
        <ion-col col-4>
          <button ion-button color="primary" (click)="btAddUserEdit()" style="margin-top: -13%; width: 96%;"> 
            Adicionar
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 style="text-align: center"><p class="fontStandard">Lista compartilhada com:</p></ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngFor="let i of userList; let ind = index" >
      <ion-card-content>
        <ion-row><ion-col>Nome: {{i.nomeDisplay}}</ion-col></ion-row>
        <ion-row>
          <ion-col col-8>E-mail: {{i.email}}</ion-col>
          <ion-col col-4 *ngIf="i.id != this.user.uid"><ion-icon class="icoLixoCard" name="trash" (click)="removeUserList(i,ind)">
            <p style="color:red;">Excluir</p>           
          </ion-icon></ion-col>

          <ion-col col-4 *ngIf="i.id == this.user.uid"><ion-icon name="ios-walk" class="icoExit" (click)="BtExitList()">
            <p *ngIf="i.id == this.user.uid" style="color:red;">Sair da Lista</p>           
          </ion-icon></ion-col>

        </ion-row> 
      </ion-card-content>
    </ion-card>


    <div text-center style="margin-top: 10%;">
        <button class="fontBt" ion-button style="border-radius: 20px; width: 50%;" (click)="addListBd()" [disabled]="nameList == null || nameList == undefined || nameList == '' ">
          Salvar Edições
        </button>     
      </div>
</ion-content>








<ion-content padding *ngIf="editList == false">
  <ion-grid>
    <ion-row>
      <ion-col col-4><p class="fontStandard">Nome Lista:</p></ion-col>
      <ion-col col-8> <input class="textoInput" style="margin-top:4%;" placeholder="*Campo Obrigatorio" [(ngModel)]="nameList"> </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 style="text-align: center"><p class="fontStandard">Compartilhar esta lista com:</p></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-8 style="text-align: center;"> <input class="textoInput" type="email" [(ngModel)]="email"
          (keyup.enter)="btAddUser()" placeholder="Digite e-mail da pessoa"> </ion-col>
      <ion-col col-4>
        <button ion-button color="primary" (click)="btAddUser()" [disabled]="nameList == null || nameList == undefined || nameList == '' "
          style="margin-top: -13%; width: 96%;">
          Adicionar
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12 style="text-align: center; margin-bottom: -9%;"><p class="fontStandard">Lista compartilhada com:</p></ion-col>
      </ion-row>
  </ion-grid>

  <ion-card *ngFor="let i of listTemp; let ind = index">
    <ion-card-content>
      <ion-row><ion-col >Nome: {{i.nomeDisplay}}</ion-col></ion-row>
      <ion-row>
        <ion-col col-8>E-mail: {{i.email}}</ion-col>
        <ion-col col-4><ion-icon class="icoLixoCard" name="trash" (click)="removeUserList(ind)">
            <p style="color:red;">Excluir</p>
        </ion-icon></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <div text-center style="margin-top: 10%;">
    <button class="fontBt" ion-button style="border-radius: 20px; width: 50%;" (click)="addListBd()" [disabled]="nameList == null || nameList == undefined || nameList == '' ">
      Salvar Lista
    </button>     
  </div>
  
        
    
</ion-content>


