.icoLixoCard {
    font-size: 2.0em;    
    margin-top: -40%;
    margin-left: 35%;
    color: #fdf700;
    text-align: center;
}

.fontBt{
    font-size: 16px;
    font-weight: 500;
}

.icoExit{    
    font-size: 2.7em;
    color: #fdf700;
    text-align: center;
    margin-top: -50%;
    margin-left: 16%;
}

.textoInput {
    font-size: 16px;
    width: 90%;    
    border: none;
    border-bottom: solid 1px #3521af;
    text-align: center;
}

.btAdd{
    margin-top: -13%;
    width: 96%;
    border-radius: 10px;
}
    
