.tabela{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 4%;
}

.texto {
    height: 38px;
    width: 25%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10%;
    }

.botaoLista{
    height: 40px;
    width: 35px;
    border-radius: 30px;
    margin-top: -7px;
    font-size: 20px;
}

.botaoAdd{
    border-radius: 90px;
    width: 70px;
    height: 70px;
    font-size: 246%;
    float: right;
    bottom: -26%;
}

.coluna1 {
    width: 30%;
    text-align: left;
    font-size: 16px;
    
}

.coluna2 {
    padding-left: 11%;
    width: 30%;
    text-align: left;
    font-size: 16px;
}

.coluna3 {
    width: 14%;
    padding-left: 1%;
    padding-bottom: 3%;
}

.checkbox-icon.checkbox-checked {
    height: 37px;
    width: 38px;
    border-radius: 30px;
}

.checkbox-md .checkbox-icon {
    height: 37px;
    width: 38px;
    border-radius: 30px;
}

.checkbox-md .checkbox-checked .checkbox-inner {
    left: 13px;
    top: 2px;    
    width: 10px;
    height: 20px;
}

.logo1{
    display: inline-block;
    font-size: 2.5em;
    float: right;
    margin-top: -9%;
    margin-right: 5%;
}
