.botaoLista{
    height: 40px;
    width: 35px;
    border-radius: 30px;
    margin-top: -7px;
    font-size: 20px;
}

.texto3 {    
    width: 95%;
    padding: 2%;    
}

.texto2 {
    height: 38px;
    width: 25%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 6%;
    margin-top: 5%;
}

table {
    border-spacing: 2px;
    border-collapse: initial;
}