.fontStandard{
    font-size: 15px;
}

.botaoLista{
    height: 40px;
    width: 35px;
    border-radius: 30px;
    margin-top: -7px;
    font-size: 20px;
}

.textoItem {
    font-size: 16px;
    width: 100%;
    padding: 7% 0% 0% 0%;
    margin-left: 12%;
    border: none;
    border-bottom: solid 1px #3521af;
    text-align: center;   
}

.textoItem2 {
    font-size: 16px;
    height: 38px;
    width: 25%;        
    text-align: center;
    font-size: 16px;
    margin-bottom: 6%;
    margin-top: 5%;
    border: none;
    border-bottom: solid 1px #3521af;  
    
}

.textoItem3{
    margin-top: 10%;    
    border-color: #3521af;
}

.icoLixo2 {
    font-size: 2.4em;
    float: right;    
    color: red;    
    padding-top: 12%;
}

.title1{
    text-align: center;
    margin-right: 9%;
    width: 80%;
}

