<ion-header>
  <ion-navbar>
    <ion-title class="fontStandard" style="text-align:center; margin-right: 9%;" *ngIf="editar == true">Editar Item</ion-title>
    <ion-title class="fontStandard" style="text-align:center; margin-right: 9%;" *ngIf="editar == false">Novo Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="editar == false">
  <table *ngFor="let i of itensAdd; let ind = index">    
    <tr>
      <td><p class="fontStandard"> Nome: </p></td>
      <td><input type="text" class="textoItem" [(ngModel)]="i.nome_item" placeholder="*Campo Obrigatorio" ></td>
      <td><ion-icon class="icoLixo2" name="trash" (click)="delItenArray(ind)"></ion-icon></td>
    </tr>

    <tr>
      <td><p class="fontStandard"> Quantidade: </p></td>
      <td style="text-align: center">
        <button ion-button class="botaoLista" (click)="decrementQtd(ind)"> - </button> 
        <input type="number" class="textoItem2" [(ngModel)]="i.qtd" (blur)="validCamp(ind)"> 
        <button ion-button class="botaoLista" (click)="incrementQtd(ind)"> + </button>
      </td> 
    </tr>

    <tr>
      <td style="float: right;"><p class="fontStandard"> Observação: </p></td>
      <td><textarea [(ngModel)]="i.obs" rows="5" cols="30" class="textoItem3"></textarea></td>
    </tr>    
  </table>
  <button ion-button color="secondary" (click)="addOtherItem()" [disabled]="itensAdd[itensAdd.length-1].nome_item == null || itensAdd[itensAdd.length-1].nome_item == '' ">
      Adicionar outro Item
  </button>
  <br/><br/><br/>
  <button ion-button full style="margin-bottom: 3%;" (click)="addItemBd()"
          [disabled]="itensAdd[itensAdd.length-1].nome_item == null || itensAdd[itensAdd.length-1].nome_item == ''">
     Salvar 
  </button>
</ion-content>

<ion-content padding *ngIf="editar == true">
  <table>    
    <tr>
      <td><p class="fontStandard"> Nome: </p></td>
      <td><input class="textoItem" [(ngModel)]="item.nome_item"></td>
    </tr>

    <tr>
      <td> <p class="fontStandard"> Quantidade: </p> </td>
      <td style="text-align: center">
        <button ion-button class="botaoLista" (click)="decrementQtd()">-</button> 
        <input class="textoItem2" [(ngModel)]="item.qtd" (blur)="validCamp(ind)"> 
        <button ion-button class="botaoLista" (click)="incrementQtd()">+</button>
      </td>
    </tr>

    <tr>
      <td style="float: right;"> <p class="fontStandard"> Observação: </p> </td>
      <td><textarea [(ngModel)]="item.obs" rows="5" cols="30" class="textoItem3"></textarea></td>
    </tr>   
  </table>
  
  <br /><br /><br />
  <button ion-button full style="margin-bottom: 3%;" (click)="addItemBd()">Salvar</button>
  <button ion-button full color="danger" (click)="removeItem()">Deletar</button>
</ion-content>

