<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center; margin-right: 10%;" *ngIf="editar == true">Editar Item</ion-title>
    <ion-title style="text-align:center; margin-right: 10%;" *ngIf="editar == false">Novo Item</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding *ngIf="editar == false">
  <table *ngFor="let i of itensAdd; let ind = index">    
    <tr>
      <td>Nome:</td>
      <td><input class="textoItem" [(ngModel)]="i.nome_item"> </td>
    </tr>

    <tr>
      <td>Quantidade:</td>
      <td>
        <button ion-button class="botaoLista" (click)="diminuirQtd(ind)">-</button> 
        <input class="textoItem2" [(ngModel)]="i.qtd"/> 
        <button ion-button class="botaoLista" (click)="aumentarQtd(ind)">+</button>
      </td>
    </tr>

    <tr>
      <td style="float: right;">Observação:</td>
      <td><textarea [(ngModel)]="i.obs" rows="5" cols="30" class="texto4"></textarea></td>
    </tr>    
  </table>
  <button ion-button color="secondary" (click)="adicionarOutroItem()"> + Itens</button>
  <br /><br /><br />
  <button ion-button full style="margin-bottom: 3%;" (click)="addItem()">Salvar</button>
  <button ion-button full color="danger" (click)="removeItem()">Deletar</button>

</ion-content>

<ion-content padding *ngIf="editar == true">
  <table>    
    <tr>
      <td>Nome:</td>
      <td><input class="textoItem" [(ngModel)]="nome_item"> </td>
    </tr>

    <tr>
      <td>Quantidade:</td>
      <td>
        <button ion-button class="botaoLista" (click)="diminuirQtd()">-</button> 
        <input class="textoItem2" [(ngModel)]="qtd"/> 
        <button ion-button class="botaoLista" (click)="aumentarQtd()">+</button>
      </td>
    </tr>

    <tr>
      <td style="float: right;">Observação:</td>
      <td><textarea [(ngModel)]="obs" rows="10" cols="30" style="margin:2% 0%"></textarea></td>
    </tr>   
  </table>
  
  <br /><br /><br />
  <button ion-button full style="margin-bottom: 3%;" (click)="addItem()">Salvar</button>
  <button ion-button full color="danger" (click)="removeItem()">Deletar</button>
</ion-content>